<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name=".CapiFirstActivity"
            android:exported="false"
            android:label="@string/title_activity_capi_first"
            android:theme="@style/Theme.Capi63" />
    </application>

</manifest>